
*{
  font-family: 'Righteous', sans-serif;
}

body {
    height: 100vh;
    margin:0%;
    background-color: #764720;
    display: grid;
    place-items:center;
    background-image: repeating-linear-gradient(
      to bottom,
      transparent 7px,
      rgba(240, 206, 206, 0.8) 1vh,
      transparent 13px
    );
}


.title{
  /* transform: skewY(3.5deg) scaleX(0.78) translateY(-10%);  */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500,  0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9;
  font-size: calc(2em + 1vw);
  margin: 0px;
  grid-column: 1 / 5;
  text-align: center;
}

.choco_style {
  background: #764720;
  background-image: linear-gradient(120deg, rgba(217,180,152,.5) 5%, transparent);
  border-top:3px solid #552f10 );
  border-right:7px solid #39210D;
  border-bottom:7px solid #241505;
  border-left:7px solid #402712;
  box-shadow:inset 0vh 0.5vh 0vh rgba(255,255,255,0.15),
    0vh 0.5vh 1vh black;
  color:#D7AD65;
}


.calculator {
  max-width: 100vh;
  display:grid;
  grid-template-columns:repeat(4, 1fr) ;
  gap:0.7vh;
  padding:1.5vh;
  margin-top: 2vh;
}


.main_screen {
   grid-column: 1 / 5;
   font-size: calc(2em + 1vw);
   text-align: right;
   margin-bottom: 1vh;
   padding-right:1vh;
   width: 48vh;
   margin-top:3vh;
   margin-bottom:3vh;
}  

.accum_screen {
  grid-column: 1 / 5;
  font-size: calc(1em + 1vw);
  text-align: right;
  margin-bottom: 0.2vh;
  padding-right:1vh;
}  

#equal{
  grid-column: 3 / 5;
  border-radius: 10%;
  text-align: center;
  font-size: calc(1em + 1vw);
}

  .btn {
    height: 10vh;
    /* width: 12vh; */
    border-radius: 20%;
    text-align: center;
    font-size: calc(1em + 1vw);
  } 

 button:hover {
    background-color:#4B2E17;
    border-color:#5F391F #311F0D #170D03 #341F0F;
    color:#f3bd2a;  
}
  
  button:active {
    border-color:#170D03 #341F0F #5F391F #311F0D;
    font-size: calc(1.2em + 1vw);
  }

    